header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  z-index: 99999;
  position: absolute;
  width: 100%;
  transition: .2s;
  padding: 15px 7%;
}

.activeHeader {
  position: fixed;
  transition: .2s;
}

header img {
  max-width: 200px;
}

header .menu {
  display: flex;
  gap: 40px;
  text-transform: uppercase;
}

.menu a {
  color: white;
  font-family: 'nunito';
  text-decoration: none;
  transition: .3s;
}

.menu a:hover {
  transition: .3s;
  text-shadow: 0px 3px 5px #24ff00;
  transform: scale(1.1) translateY(-2px);
}

/* header .right{
display: flex;
align-items: center;
justify-content: center;

}

header .right p{
color: var(--green);
font-size: 25px;
font-family: 'Iceland', cursive;
}

.countdown {
display: grid;
grid-template-columns: repeat(4, 1fr);
padding: 10px 0px;

}

.countdown .time {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-weight: 500;
color: var(--green);
font-size: 20px;
max-width: 70px;
border-radius: 10px;
padding: 7px 10px;
border: 2px solid var(--green);
}

section .contentBx .countdown .time span {
color: #312747;
font-size: 16px;
font-weight: 600;
}

@media screen and (max-width: 960px) {
.nav-social {
    display: none;
}

.countdown {
    grid-template-columns: repeat(2, 1fr);
}
}   */

.mobileMenu {
  max-width: 100vw;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: #000;
}

.mobileMenu .bx {
  width: 30px;
  height: 30px;
  position: relative;
  transition: .5s;
  z-index: 100000000000;
}

.mobileMenu .bx::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--blue);
  border-radius: 10px;
  top: calc(50% - 6px);
  left: 0;
  transition: .2s;
}

.mobileMenu .bx::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--blue);
  border-radius: 10px;
  top: calc(50% + 6px);
  left: 0;
  transition: .2s;
}


.mobileMenu .activeBx:before {
  transform: rotate(-45deg);
  transition: .2s;
  top: 50%;
}

.mobileMenu .activeBx:after {
  transform: rotate(45deg);
  transition: .2s;
  top: 50%;
}

.activeBx {
  position: fixed !important;
}

.mobileMenu nav {
  width: 102vw;
  height: 101vh;
  background: var(--background);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  transform: translateX(-105vw);
  transition: .2s ease;
}

.activeMenu {
  transform: translateX(0) !important;
  transition: .2s ease;
}




.mobileMenu img {
  max-width: 150px;
}


.mobileNav{
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 15px;
  text-transform: uppercase;
}

.mobileNav a{
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
}


/* ----   HEADLINE  ---- */


.headline {
  background: black;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center
}

.headline .textheadline h1 {
  color: var(--blue);
  font-size: 50px;
}

.headline .textheadline p {
  color: white;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}


.headline img {
  max-width: 100%;
  background: radial-gradient(#100732, transparent 75%);
  -webkit-box-reflect: below -93px linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 30%, rgba(0, 0, 0, 0.4));
}

.headline .left {
  justify-content: center;
  align-items: flex-start;
}

.headline .right {
  justify-content: center;
  align-items: flex-end;
}










/* ------- segunda section ------- */

.call {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  padding: 80px 7%;
  background: linear-gradient(45deg, var(--offbuel), var(--offpink));
  gap: 30px;
}

.call .textcall h2 {
  color: var(--blue);
  font-size: 50px;
}

.call .right{
  border: none;
  border-left: 1px solid var(--pink);
}

.call .right h3 {
  color: var(--green);
  font-size: 30px;
  margin-bottom: 30px;
}


.call .textcall strong {
  color: white;
  font-size: 50px;
}

.call .textcall p {
  color: white;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.call img, .comunidade img {
  max-width: 80%;
}




/* -------- terceira section -------- */


.aprender {
  background: linear-gradient(135deg, var(--offbuel), var(--offpink));
  padding: 60px 7%;
}

.aprender .esperar {
  color: var(--blue);
  font-size: 50px;
  width: 500px;
}

.aprender .textaprender {
  color: white;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 500px;
}

.container-card {
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 35px;
  margin: 0 auto;
  padding: 40px 0;
}

.card {
  position: relative;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  background: black;
  border-radius: 15px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
  transition: .8s;
}

.card:hover {
  box-shadow: 0px 0px 20px 0px #24ff00;
  transition: .8s;
}

.face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face1 {
  box-sizing: border-box;
  padding: 0px 20px;
}

h2 {
  margin: 0;
  padding: 0;
}

.face img {
  max-width: 150px;
}

.html {
  background: linear-gradient(90deg, #FF4CA1 0%, #5533BB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.css {
  background: linear-gradient(90deg, #FF4CA1 0%, #5533BB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.js {
  background: linear-gradient(90deg, #FF4CA1 0%, #5533BB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.face2 {
  transition: 0.5s;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: #fff;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.card:hover .face.face2 {
  height: 60px;
}
.face h2{
  font-size: 2em;
}

.face p{
  font-size: 1.2em;
}

h2 {
  font-size: 2em;
}


.card:nth-child(1) .face.face2 {
  background: linear-gradient(135deg, var(--offbuel), var(--offpink) 161%);
  border-radius: 15px;
}

.card:nth-child(2) .face.face2 {
  background: linear-gradient(135deg, var(--offbuel), var(--offpink) 100%);
  border-radius: 15px;
}

.card:nth-child(3) .face.face2 {
  background: linear-gradient(135deg, var(--offbuel), var(--offpink) 40%);
  border-radius: 15px;
}

.card:nth-child(4) .face.face2 {
  background: linear-gradient(135deg, var(--offbuel), var(--offpink) 40%);
  border-radius: 15px;
}

.card:nth-child(5) .face.face2 {
  background: linear-gradient(135deg, var(--offbuel), var(--offpink) 40%);
  border-radius: 15px;
}

.card:nth-child(6) .face.face2 {
  background: linear-gradient(135deg, var(--offbuel), var(--offpink) 40%);
  border-radius: 15px;
}

.card:nth-child(7) .face.face2 {
  background: linear-gradient(135deg, var(--offbuel), var(--offpink) 40%);
  border-radius: 15px;
}

.card:nth-child(8) .face.face2 {
  background: linear-gradient(135deg, var(--offbuel), var(--offpink) 40%);
  border-radius: 15px;
}

.icon1 {
  font-size: 50px;
  color: var(--blue);
}

.icon1::before {
  content: "</>";
}

.icon2 {
  font-size: 50px;
  color: var(--blue);
}

.icon2::before {
  content: "\f109";
}












/* ------------------- Conhecer a over  -------------------- */

.conhecer {
  background: linear-gradient(8deg, var(--offbuel), var(--offpink));
  padding: 60px 7%;
}

.conhecer .card-conhecer {
  width: 100%;
  padding: 20px 0px;
  background: linear-gradient(0deg, var(--blue), transparent);
  border-radius: 10px;
}

.conhecer .card-conhecer p {
  color: white;
  font-size: 30px;
  text-align: center;
}

.conhecer .card-conhecer a {
  font-weight: 600;
  color: var(--green);
  text-decoration: none;
}











/* --------- quarta section ---------- */

.pra-quem {
  background: linear-gradient(135deg, var(--offbuel), var(--offpink));
  padding: 60px 7%;
}

.pra-quem h2 {
  color: var(--blue);
  font-size: 50px;
}

.pra-quem p {
  color: white;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.pra-quem strong {
  color: var(--blue);
  font-size: 25px;

}







/* --------------------------- quinta section -------------------------- */

.dominar {
  background: linear-gradient(60deg, var(--offbuel), var(--offpink));
  padding: 60px 7%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.dominar h2 {
  color: var(--blue);
  font-size: 50px;
}

.dominar p {
  color: white;
  font-size: 25px;
  margin-bottom: 20px;

}

.dominar strong {
  color: var(--green);
  font-size: 25px;

}












/* ------------------------------ sexta section ------------------------------- */

.comunidade {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 60px 7%;
  background: linear-gradient(153deg, var(--offbuel), var(--offpink));
  max-width: 100vw;
}

.comunidade .left .textleft {
  max-width: 100%;
}

.comunidade .left .textleft {
  display: grid;
  grid-template-columns: 50% 50%;
}

.comunidade .left h2 {
  color: var(--blue);
  font-size: 50px;
}

.comunidade .left h3 {
  color: var(--blue);
  font-size: 30px;
  max-width: 500px;
}

.comunidade .left p {
  color: white;
  font-size: 25px;
  margin-bottom: 20px;
}

.comunidade .left strong {
  color: var(--green);
  font-size: 25px;
}







/* ------------------------------ setima section ------------------------------- */

.diploma {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 60px 7%;
  background: linear-gradient(18deg, var(--offbuel), var(--offpink));
}

.diploma .right h2 {
  color: var(--blue);
  font-size: 50px;
}

.diploma .right p {
  color: white;
  font-size: 25px;
  margin-bottom: 20px;
}

.diploma .right strong {
  color: var(--green);
  font-size: 25px;
}

.diploma img {
  max-width: 80%;
}







/* ------------------------------ setima section ------------------------------- */


.estagio {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 60px 7%;
  background: linear-gradient(159deg, var(--offbuel), var(--offpink));
}

.estagio h2 {
  color: var(--blue);
  font-size: 50px;
}

.estagio p {
  color: white;
  font-size: 25px;
  margin-bottom: 20px;
}

.estagio img {
  max-width: 350px;
}








/* ---------------------------- footer ------------------------------ */
.container-hexagon {
  position: relative;
  height: 40vh;
  overflow: hidden;
  animation: color-change 4s infinite;
}

@keyframes color-change {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.row {
  display: inline-flex;
  margin-top: -32px;
  margin-left: -50px;
}

.row:nth-child(even) {
  margin-left: 1px;
}

.hexagon {
  position: relative;
  width: 100px;
  height: 110px;
  background: #111;
  margin: -.1px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 1s;
}

.hexagon:hover {
  transition: 0s;
  background: cyan;
}

.hexagon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.02);
}



/* -------- terceira section -------- */
.scrollTop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  opacity: 0;
  cursor: none;
  transform: translateY(40px) scale(0);
  transition: .3s;
}

.scrollTop-active{
  opacity: 1 !important;
  cursor: pointer;
  transform: translateY(0px) scale(1) !important;
  transition: .3s;
}


/* -------- form section -------- */

.form-section {
  background: linear-gradient(32deg, var(--offbuel), var(--offpink));
}

.form-section h2 {
  max-width: 70%;
  padding-bottom: 20px;
}

.form-section p {
  max-width: 70%;
  line-height: 38px;
}

.form-container {
  height: 90%;
  width: 90%;
  background: linear-gradient(135deg, var(--offbuel), var(--offpink) 40%);
  padding: 20px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: .5s;
}

.form-container:hover {
  box-shadow: 0px 0px 20px 0px #24ff00;
  transition: .5s;
}

.center-div {
  min-width: 80%;
  height: fit-content;
}


form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}



form input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-bottom: 1px solid var(--green);
  background: transparent;
  color: var(--green);
  position: relative;
  width: 100%;
}


form .field {
  position: relative;
  padding: 10px 0;
}

form input:focus label {
  margin-top: 50px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  outline: none;
}


form label {
  color: var(--green);
  font-size: 18px;
  font-weight: normal;
  pointer-events: none;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}


input:focus {
  color: var(--green);
}



input[type="submit"] {
  text-decoration: none;
  position: absolute;
  border: none;
  font-size: 20px;
  font-family: inherit;
  color: #fff;
  padding: 0px 40px;
  line-height: 2em;
  text-align: center;
  background: var(--primary-btn-gradient);
  border-radius: 8px;
  z-index: 1;
  cursor: pointer;
  transition: .8s;
}

input[type="submit"]:hover {
  transform: scaleX(1.1) scaleY(1.2) skew(-10deg);
  transition: .8s;
  border: none;
}


form ul li {
  list-style: none;
  color: red !important;
}

form select {
  width: 100%;
  border: solid 1px #6ef455;
  background: transparent;
  color: #6ef455;
  cursor: pointer;
  outline: none;
  font-size: 15px;
  padding: 6px 5px;
  border-radius: 8px;
  margin-top: 10px;
}

form option {
  background: #090728;
  color: #fff;
  font-size: 15px;
  outline: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* -------- form section -------- */


/* -------- Texts -------- */

.left h2,
.left p,
.right h2,
.right p {
  text-align: left;
  width: 100% !important;
}

/* -------- Texts -------- */


@media (min-width:800px) {
  .mobileMenu {
    display: none;
  }
}


@media (max-width:800px) {
  .header {
    display: none;
  }

  .headline, .dominar, .comunidade, .diploma, .estagio, .comunidade .left .textleft {
    grid-template-columns: 1fr;
  }

  .grid2{
    grid-template-columns: 1fr !important;
  }

  .headline img {
    display: none;
  }

  .call {
    grid-template-columns: 1fr;
    gap: 100px;
  }

  .call .right{
    align-items: center;
  }

  .aprender .esperar, .aprender .textaprender, .pra-quem h2, .dominar h2 {
    max-width: 100%;
  }

  .dominar p,  .comunidade .left p, .comunidade .left h2, .diploma .right h2{
    max-width: 90%;
    text-align: justify;
  }
  .form-section p, .form-section h2 {
    max-width: 90%;
    text-align: justify;
}
}
